*{
    border: solid 1px black;
}
main{
    margin: 0 10rem;
}
.flex_container {
    display: flex;

}
.row{
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.column{
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.thumbnail{
    width: 200px;
    height: 200px;
}